.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-wrapper {
    flex: 0 0 auto;
    width: 40%;
    margin: 0 5%;
    border-radius: 10px;
    border: 2px solid pink;
}

.xml-wrapper {
    flex: 0 0 auto;
    align-content: center;
    width: 40%;
}